    html, body, #root {
      height: fit-content;
    }
    .auth-bg {
      min-height: 100vh;
      width: 100vw;
      background: rgba(255, 15, 15, 0.306);
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
    }
    .auth-card {
      background: #fff;
      padding: 3rem 3rem;
      border-radius: 1.3rem;
      max-width: 370px;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 1.2rem;
    }
    .auth-card:hover {
      box-shadow: 4px 4px 20px 0 rgba(208, 255, 0, 0.32);
      transition: box-shadow 0.2s;
    }
    .auth-card h2 {
      margin: 0 0 0.5rem 0;
      font-size: 2rem;
      font-weight: bold;
      color: #183465;
      text-align:center;
    }
    .auth-input {
      color: black;
      border: 1px solid #bcccde;
      border-radius: 0.7rem;
      padding: 1rem 1rem;
      font-size: 1.1rem;
      outline: none;
      margin-bottom: 0.25rem;
      background: #f7faff;
    }
    .auth-btn {
      background: #316cec;
      color: #fff;
      border: none;
      border-radius: 0.7rem;
      padding: 0.87rem 0;
      font-size: 1.16rem;
      font-weight: 600;
      cursor: pointer;
      box-shadow: 0 1px 10px 0 rgba(49,108,236,0.08);
      transition: background 0.2s;
    }
    .auth-btn:hover {
      background: #124db4;
    }
    .switch-link {
      font-size: 1rem;
      color: #4e6a97;
      text-align:center;
    }
    .switch-link a {
      color: #316cec;
      text-decoration: underline;
      margin-left: 4px;
    }

    @media(max-width: 768px) {
      .auth-card {
        padding: 2rem 2rem;
        max-width: 400px;
        /* gap: 1rem; */
      }
      .auth-card h2 {
        font-size: 5rem;
      }
      .auth-input {
        font-size: 1.2rem;
        padding: 1.2rem 1rem;
      }
      .auth-btn {
        font-size: 1.25rem;
        padding: 1rem 0;
      }
      .switch-link {
        font-size: 1.1rem;
      }
    }

    @media (max-width: 480px) {
  .auth-card {
    padding: 1.5rem;
    max-width: 90%;
    gap: 1rem;
  }

  .auth-input {
    font-size: 1rem;
    padding: 0.8rem;
  }

  .auth-btn {
    font-size: 1rem;
    padding: 0.8rem 0;
  }

  .switch-link {
    font-size: 0.9rem;
  }
}
